.wrapper{
	border-top:solid 1px black;
	border-bottom:solid 1px black;
	padding:0;
}

.forkongithub a{
	background:#000;
	color:#fff;
	text-decoration:none;
	font-family:arial,sans-serif;
	text-align:center;
	font-weight:bold;
	padding:5px 40px;
	font-size:1rem;
	line-height:2rem;
	position:relative;
	transition:0.5s;
}

.forkongithub a:hover{
	background:#c11;
	color:#fff;
}

.forkongithub a::before,.forkongithub a::after{
	content:"";
	width:100%;
	display:block;
	position:absolute;
	top:1px;
	left:0;
	height:1px;
	background:#fff;
}

.forkongithub a::after{
	bottom:1px;
	top:auto;
}

@media screen and (min-width:800px){
	.forkongithub{
		position:fixed;
		display:block;
		top:0;
		left:0;
		width:200px;
		overflow:hidden;
		height:200px;
		z-index:9999;
	}

	.forkongithub a{
		width:200px;
		position:absolute;
		top:60px;left:-60px;
		transform:rotate(-45deg);
		-webkit-transform:rotate(-45deg);
		-ms-transform:rotate(-45deg);
		-moz-transform:rotate(-45deg);
		-o-transform:rotate(-45deg);
		box-shadow:4px 4px 10px rgba(0,0,0,0.8);
	}
}

.wrapper{
	font-family:Verdana;
}

.wrapper>p:last-child{
	margin-top:30px;
}

article{
	text-align:justify;
	margin-left:100px;
	margin-right:100px;
}

article>h1{
	font-size:3em;
	font-weight:bold;
	text-align:center;
}

article p{
	line-height:30px;
	font-size:1.2em;
}

.code{
	font-family:Courier New;
	line-height:40px;
	background-color:black;
	color:white;
	border-radius:10px;
	padding:30px;
}

.code span{
	color:green;
}

article>.code+p,article>.code+p+p,article>p:last-child{
	text-align:center;
}

article>.code+p{
	margin-top:25px;
}

article img{
	width:150px;
}

article+p{
	text-align:center;
}
